<%- include('partials/header') %>

<section class="page-section">
    <h1>Partner Organizations</h1>
    <p>We work with these amazing organizations to facilitate service:</p>
    
    <div class="org-list">
        <div class="org-item">
            <img src="/images/brightfuture-logo.png" alt="BrightFuture Builders Logo">
            <h3>BrightFuture Builders</h3>
            <p>Contact: info@brightfuture.org</p>
        </div>
        
        <div class="org-item">
            <img src="/images/greenharvest-logo.png" alt="GreenHarvest Growers Logo">
            <h3>GreenHarvest Growers</h3>
            <p>Contact: contact@greenharvest.org</p>
        </div>
        
        <div class="org-item">
            <img src="/images/unityserve-logo.png" alt="UnityServe Volunteers Logo">
            <h3>UnityServe Volunteers</h3>
            <p>Contact: hello@unityserve.org</p>
        </div>
    </div>
</section>

<%- include('partials/footer') %>